iniciando-no-back-end/node_modules
Iniciando-no-Front-end/.vscode
controle-academia/node_modules 
controle-academia-persistindo-dados/node_modules 
controle-academia-persistindo-dados/.vscode
launchstore/node_modules
launchstore/.vscode