<div class="item">
    <div>Nome completo</div>
    <div class="input">
        <input 
            required
            type="text" 
            name="name" 
            placeholder="Digite seu nome completo"
            value="{{user.name}}">
    </div>
</div>
<div class="item">
    <div>Email</div>
    <div class="input">
        <input 
            required
            type="Email" 
            name="email" 
            placeholder="Digite seu email"
            value="{{user.email}}"
            onblur="Validate.apply(this, 'isEmail')"
            >
    </div>
</div>
<div class="item">
    <div>Senha</div>
    <div class="input">
        <input 
            required
            type="password" 
            name="password" 
            placeholder="Senha"
            >
    </div>
</div>

{% if not user.id %}

<div class="item">
    <div>Repetir senha</div>
    <div class="input">
        <input 
            required
            type="password" 
            name="passwordRepeat" 
            placeholder="Repita a senha">
    </div>
</div>

{% endif %}

<div class="item">
    <div>CPF OU CNPJ</div>
    <div class="input">
        <input 
            required
            type="text" 
            name="cpf_cnpj" 
            placeholder="CPF ou CNPJ"
            value="{{user.cpf_cnpj}}"
            onkeydown="Mask.apply(this,'cpfCnpj')"
             onblur="Validate.apply(this, 'isCpfCnpj')"
            >
    </div>
</div>

<div class="item">
    <div>CEP</div>
    <div class="input">
        <input 
            required
            type="text" 
            name="cep" 
            placeholder="xx.xxx-xxx"
            value="{{user.cep}}"
             onkeydown="Mask.apply(this,'cep')"
              onblur="Validate.apply(this, 'isCEP')"
            >
    </div>
</div>
<div class="item">
    <div>Endereço completo</div>
    <div class="input">
        <input 
            required
            type="text" 
            name="address" 
            placeholder="Digite seu endereço"
            value="{{user.address}}">
    </div>
</div>