{% extends "layout.html" %} {% block head %}
<title>Vídeos - João Rodrigues</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> {% endblock %}{% block content %}
<div id="imgPerfil">
    <h1>Aulas</h1>
</div>
<section class="cards">
    <div class="card" id="GykTLqODQuU">
        <div class="card_img">
            <img src="http://i3.ytimg.com/vi/GykTLqODQuU/maxresdefault.jpg" alt="Video">
        </div>
        <div class="card_content">
            <p>Formulário animado com JS puro e CSS animation</p>
        </div>
        <div class="card_info">
            <p>57 min </p>
            <p class="car_price">Free</p>
        </div>
    </div>
    <div class="card" id="DDqRgIfHJeo">
        <div class="card_img">
            <img src="http://i3.ytimg.com/vi/DDqRgIfHJeo/maxresdefault.jpg" alt="Video">
        </div>
        <div class="card_content">
            <p>Por que o PLaystation 5 é assim?</p>
        </div>
        <div class="card_info">
            <p>13 min </p>
            <p class="car_price">Free</p>
        </div>
    </div>
    <div class="card" id="3suNo2fGJSw">
        <div class="card_img">
            <img src="http://i3.ytimg.com/vi/3suNo2fGJSw/maxresdefault.jpg" alt="Video">
        </div>
        <div class="card_content">
            <p>A VELOCIDADE DOS PROCESSADORES E O GIGAHERTZ, QUE TROÇO É ESSE?</p>
        </div>
        <div class="card_info">
            <p>11 min </p>
            <p class="car_price">Free</p>
        </div>
    </div>
    <div class="card" id="spqYMJe7XIs">
        <div class="card_img">
            <img src="http://i3.ytimg.com/vi/spqYMJe7XIs/maxresdefault.jpg" alt="Video">
        </div>
        <div class="card_content">
            <p>10 PRINCÍPIOS de WARREN BUFFETT! | p/ investir MELHOR e ganhar mais dinheiro!</p>
        </div>
        <div class="card_info">
            <p>14 min </p>
            <p class="car_price">Free</p>
        </div>
    </div>
    <div class="card" id="UeOTzCvUDSE">
        <div class="card_img">
            <img src="http://i3.ytimg.com/vi/UeOTzCvUDSE/maxresdefault.jpg" alt="Video">
        </div>
        <div class="card_content">
            <p>TUDO SOBRE O NOVO IOS 14! (E TAMBÉM O QUE NÃO TE DISSERAM!) - HANDS ON BETA 1</p>
        </div>
        <div class="card_info">
            <p>31 min </p>
            <p class="car_price">Free</p>
        </div>
    </div>
    <div class="card" id="dDWH3fELV6o">
        <div class="card_img">
            <img src="http://i3.ytimg.com/vi/dDWH3fELV6o/maxresdefault.jpg" alt="Video">
        </div>
        <div class="card_content">
            <p>CAI BEM? NOVA ZONTES 310 ADV CAIRÁ BEM NO BRASIL? (Ela está pra chegar!) - Motorede</p>
        </div>
        <div class="card_info">
            <p>10 min </p>
            <p class="car_price">Free</p>
        </div>
    </div>
</section>
<div class="modal_overlay">
    <div class="modal">
        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>
        <iframe frameborder="0" src=""></iframe>
    </div>
</div>
<script src="script.js"></script>

{% endblock %}